.countries {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 90vw;
    justify-content: center;
}

.country_img {
    width: 200px;
}

.btn-country {
    width : 100px;
    height : 50px;
    background-color: chocolate;
    color:darkred;
    border: none;
    border-radius: 10px;
}